/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #a9a9a9;
    background: url("1_7kxVRzoikHU8gLZEWoNsgA.jpeg")
  }
  
  body {
    width: 70%;
    margin: 0 auto;
  }
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Sonsie One', cursive;
    color: #0e0000;
    text-shadow: 2px 2px 10px rgb(3, 218, 68);
  }
  
  p, input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f8f6f6;
    
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    color: rgb(107, 3, 102);
    text-shadow: 2px 2px 10px rgb(3, 218, 68);
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 2.9em;
    line-height: 1.5;
  }
  
  /* || header layout */
  
  nav, article, aside, footer {
    background-color: rgb(124, 5, 114);
    padding: 1%;
  }
  
  nav {
    height: 50px;
    background-color: #05ee24;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(15, 0, 0);
  }
  
  nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
  }
  
  input {
    font-size: 1.6rem;
    height: 32px;
  }
  
  input[type="search"] {
    flex: 3;
  }
  
  input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #f8f5f5;
    border: 0;
    color: rgb(255, 255, 255);
  }
  
  /* || main layout */
  
  main {
    display: flex;
  }
  
  article {
    flex: 4;
  }
  
  aside {
    flex: 1;
    margin-left: 11px;
    background-color: #ff80ff;
  }
  
  aside li {
    padding-bottom: 12px;
  }
  
  footer {
    margin-top: 13px;
  }